* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #444;
  background: #fff;
  height: 100vh;
}

.homepage {
  line-height: 1.4;
}

table {
  width: 100% !important;
  font-size: 25px;
  margin: 50px auto;
  color: white;
}

.calc-output {
  text-align: end;
  color: white;
  line-height: 21px;
  font-weight: 400;
  background-color: #6a6d8a !important;
  padding-right: 2px !important;
}

td {
  color: black;
  text-align: center;
  padding: 30px !important;
}

td:hover {
  cursor: pointer;
}

.bg-silver {
  background-color: silver !important;
}

.bg-orange {
  background-color: rgba(255, 94, 0, 0.822) !important;
}

/* Navbar  */
nav {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 5px;
}

.link-item {
  text-decoration: none;
  color: black;
}

.brand {
  cursor: pointer;
}

.list-item:hover {
  color: blue;
  cursor: pointer;
}

.active {
  color: blue;
}

.qoute {
  min-height: calc(100vh - 80px);
  line-height: 2.4;
  font-weight: 600;
  word-spacing: 0.5rem;
  letter-spacing: 1px;
}

.nomatch {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
