
table {
  width: 50% !important;
  font-size: 25px;
  margin: 50px auto;
  color: white;
}

.calc-output {
  text-align: end;
  color: white;
  line-height: 21px;
  font-weight: 400;
  background-color: #6a6d8a !important;
  padding-right: 2px !important;
}

td {
  color: black;
  text-align: center;
  padding: 30px !important;
}

td:hover {
  cursor: pointer;
}

.bg-silver {
  background-color: silver !important;
}

.bg-orange {
  background-color: rgba(255, 94, 0, 0.822) !important;
}
